<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Request.php</file>
            <file>src/Validation/Validator.php</file>
            <file>src/Validation/ValidationProcess.php</file>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <xml outputDirectory="build/logs"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
